<h1>About this page</h1>
<p>This is a simple Node.js RESTful API.<br><br>
It is designed to demonstrate the basics of building a 
RESTful API with Node.js, Express and 
Express-handlebars.</p><br>
<p>Created by: Toni Näsman</p>